/* ========= HOME */
body{
  overflow-y: hidden;
}

.content{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 11.4rem 1fr;
  grid-template-areas: 
  'header header'
  'left right'
}

header{
  grid-area: header;
}

#bg{
  grid-area: left; 
  width: 75.664rem;   
  height: 66.455rem;
  background: url('/images/home-bg-img.svg') no-repeat top/contain;      
}

main{
  grid-area: right;
  margin-top: -12rem;
  display: flex;
  align-items: center;
}

main .container{
  width: min(36.3rem, 100%);
}

main h2{  
  color: var(--black);
  font-size: clamp(20px, 5vw, 2.8rem);
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2.4rem;
}

input{
  border: 0.2rem solid var(--gray-blue);
  padding: 0 1.6rem;
}

input, button, .button{
  width: 100%;
  margin-bottom: 1.8rem;
}

.separator{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.45rem;
  margin: 4rem auto;
}

.separator div:nth-child(2){
  font-family: 'Poppins';
  font-weight: 400;
  color: var(--gray-blue);
  line-height: 0;
}

.separator div:nth-child(1),
/* pega a posição da div dentro de um campo */
.separator div:nth-child(3){
  height: 0.1rem;
  background-color: var(--gray-blue);
  width: 100%;
}

.ball{
  background: var(--blue);
  position: fixed;
  width: 21.2rem;
  height: 21.2rem;
  clip-path: circle();  
}

.ball.top{
  top: -50rem;
  right: -35rem;
  opacity: .15;  
  width: 63.3rem;
  height: 63.3rem;
}

.ball.bottom{
  right: 5.3rem;
  bottom: -16rem;
  opacity: .1;  
}