#room header{
  max-width: 1120px;
  margin: 3rem auto;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

#room header .buttons{
  display: flex;
}

#room header .buttons .button:nth-child(1){
  margin-right: 0.8rem;
  padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(2){
  margin-right: 0.8rem;
  padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(1) img{
  margin-left: 1.16rem;
  width: 2rem;
  height: 2rem;
}

#room header .buttons .button:nth-child(2) img{  
  width: 2rem;
  height: 2rem;
}



